body{
    margin: 0;
    display: grid;
    grid-template-areas: 'header header header header'
                         'navbar navbar navbar aside'
                         'section section section aside'
                         'footer footer footer footer'; 
    grid-template-rows: 50vh 20vh 60vh 40vh;
    grid-gap: 15px;
    
}

header{
    grid-area: header;
    background-color: blue;
    display: flex;
    justify-content: center;
}

header img{
    width: 500px;
    border-radius: 100%;
}

nav{
    grid-area: navbar;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

nav a {
    color: black;
    font-size: 20pt;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

section{
    grid-area: section;
    background-color: green;
    background-image: url(girafa-wikimedia.jpg);
    background-size: cover;
}

aside{
    grid-area: aside;
    background-color: yellow;
    background-image: url(_95189420_plate-1968011_1920.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside button{
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 20px;
}

aside input{
    border: none;
    height: 30px;
    border-bottom: 2px black solid;
    background-color: transparent;
    color: black;
    font-weight: 900;
}

aside input::placeholder{
    font-weight: 900;
    color: grey;
}

aside input:nth-child(3){
    margin-top: 10px;
}

footer{
    grid-area: footer;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div{
    height: 100px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}